@page "/"
@namespace MyApi.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/site.css" />

    <title>iiDENTIFii Forum App</title>
    <meta name="description" content="">
    <meta name="keywords"           content="">
    <meta name="MobileOptimized"    content="width" />
    <meta name="HandheldFriendly"   content="true" />
    <meta name="copyright"          content="">
    <meta name="robots"             content="index,follow" />
    <meta name="designer"           content="">
    <meta name="copyright"          content="">
    <meta name="developer"          content="Anele ace M">
    <meta name="revised"            content="" />

    <!-- OpenGraph Meta Tags -->
    <meta name="og:title"   content=""/>
    <meta name="og:type"    content="website"/>
    <meta name="og:url"     content="/"/>
    <meta name="og:image"   content=""/>
    <meta name="og:site_name"       content=""/>
    <meta name="og:description"     content=""/>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:app:country" content="ZA">
    <meta name=”twitter:card” content="summary" />
    <meta name=”twitter:site” content="anele_ace" />
    <meta name=”twitter:title” content="" />
    <meta name=”twitter:description” content="" />
    <meta name=”twitter:image” content="" />
    
    <base href="~/" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>